/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
     }
    .navbar{
        justify-content: space-between;
        padding: 20px 0;
        display: flex;
        height: 60px;
        width: 100%;
        background-color: azure;
        border: 0;
        border-bottom: 1px solid gray
    }
    .section{
        display: flex;
        width: 20%;
        align-items: center;
    }
    .menu{
        margin-left: 10px;
    }
    .menu img:hover{
        background-color: lightgrey;
        padding: 3px;
        border-radius: 50%;
    }
    .logo-container {
        display: flex;
        width: 20%;
        align-items: center;
    }
    .logo{
        margin-left: 20px;
        object-fit: cover;
        animation: zoomInOut 4s infinite alternate;
    }
    
    @keyframes zoomInOut {
        10% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.0);
        }
    }
    .user{
        margin-left: 5px;
    }
    .user img:hover{
        background-color: lightgray;
        border-radius: 50%;
        padding: 3px;
    }
    .box-container {
        display: flex;
        align-items: flex-start; 
    }
    .box{  
        display: flex;
        background: rgb(241, 239, 239);
        height: 30px;
        border: 1px solid;
        border-color: black;
        border-radius: 40px;
        padding: 10px;
    }
    ::placeholder{
        color: black;
    }
    
    .box:hover > .place{
        width: 150px;
        padding: 0 6px;
    }
    .box a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .box input{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 16px;
        transition: 0.6s;
        line-height: 30px;
        width: 0;
    }
    .desc{
        padding: 10px;
        margin-right: 5px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
    }
    .desc:hover{
        background-color: rgb(239, 243, 243);
    }
    
    /*Sortiranje*/
    .sort{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }
    .sort ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
    }
    .sort a{
        text-decoration: none;
        list-style-type: none;
        padding: 5px 10px;
        color: grey;
    }
    .sort a:hover::before{
        content: "";
        color: black;
        background-color: lightgray;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 100%;
    } 
    .sort a:hover{
        color: black;
    }
    
    .icon-3 img{
        margin-left: 8px;
    }
    
    .icon-4 img{
        margin-left: 7px;
    }
    /*CONTAINER*/
    
    .container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container img{
        border-radius: 5%;
    }
    .container a{
        text-decoration: none;
        color: black;
        font-style: bold;
        font-size: 10px;
        margin-top: 50px;
    }
    .container-post-1{
        width: 20%;
    }
    .container .post-1 h4{
        font-size: 20px;
        margin-left: 0;
    }
    .container .post-2 h4{
        font-size: 20px;
    }.container .post-3 h4{
        font-size: 20px;
    }.container .post-4 h4{
        font-size: 20px;
    }
    .container .post-1 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-2 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-3 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-4 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-1 h3{
        font-size: 19px;
    }
    .container .post-2 h3{
        font-size: 19px;
    }
    .container .post-3 h3{
        font-size: 19px;
    }
    .container .post-4 h3{
        font-size: 19px;
    }
    
    
    /*FOOTER*/
    
    
    .foot {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(224, 224, 224);
        border-top: 1px solid gray;
        border-right: 0;
        height: 50px;
        width: 100%; 
        padding: 20px 0;
        color: #fff;
        bottom: auto;
    
    }
    .firstFoot a:hover{
        border-bottom: 1px solid black;
    }
    .foot p{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items:center;
        margin-left: 20px;
        color: black;
    }
    .foot a{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-left: 15px;
    }
    .lastFoot{
        display: flex;
    }
    .lastFoot a{
        align-items: center;
    }
    .lastFoot p:hover{
        border-bottom: 1px solid black;
    }
    .lastFoot img{
        border: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
     }
    .navbar{
        justify-content: space-between;
        padding: 20px 0;
        display: flex;
        height: 60px;
        width: 100%;
        background-color: azure;
        border: 0;
        border-bottom: 1px solid gray
    }
    .section{
        display: flex;
        width: 20%;
        align-items: center;
    }
    .menu{
        margin-left: 10px;
    }
    .menu img:hover{
        background-color: lightgrey;
        padding: 3px;
        border-radius: 50%;
    }
    .logo-container {
        display: flex;
        width: 20%;
        align-items: center;
    }
    .logo{
        margin-left: 20px;
        object-fit: cover;
        animation: zoomInOut 4s infinite alternate;
    }
    
    @keyframes zoomInOut {
        10% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.0);
        }
    }
    .user{
        margin-left: 5px;
    }
    .user img:hover{
        background-color: lightgray;
        border-radius: 50%;
        padding: 3px;
    }
    .box-container {
        display: flex;
        align-items: flex-start; 
    }
    .box{  
        display: flex;
        background: rgb(241, 239, 239);
        height: 30px;
        border: 1px solid;
        border-color: black;
        border-radius: 40px;
        padding: 10px;
    }
    ::placeholder{
        color: black;
    }
    
    .box:hover > .place{
        width: 150px;
        padding: 0 6px;
    }
    .box a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .box input{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 16px;
        transition: 0.6s;
        line-height: 30px;
        width: 0;
    }
    .desc{
        padding: 10px;
        margin-right: 5px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
    }
    .desc:hover{
        background-color: rgb(239, 243, 243);
    }
    
    /*Sortiranje*/
    .sort{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }
    .sort ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
    }
    .sort a{
        text-decoration: none;
        list-style-type: none;
        padding: 5px 10px;
        color: grey;
    }
    .sort a:hover::before{
        content: "";
        color: black;
        background-color: lightgray;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 100%;
    } 
    .sort a:hover{
        color: black;
    }
    
    .icon-3 img{
        margin-left: 8px;
    }
    
    .icon-4 img{
        margin-left: 7px;
    }
    /*CONTAINER*/
    
    .container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container img{
        border-radius: 5%;
        width: 50%;
    }
    .container a{
        text-decoration: none;
        color: black;
        font-style: bold;
        font-size: 10px;
        margin-top: 50px;
    }
    .container .post-1 h4{
        font-size: 20px;
        margin-left: 0;
    }
    .container .post-2 h4{
        font-size: 20px;
    }.container .post-3 h4{
        font-size: 20px;
    }.container .post-4 h4{
        font-size: 20px;
    }
    .container .post-1 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-2 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-3 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-4 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-1 h3{
        font-size: 19px;
    }
    .container .post-2 h3{
        font-size: 19px;
    }
    .container .post-3 h3{
        font-size: 19px;
    }
    .container .post-4 h3{
        font-size: 19px;
    }
    
    
    /*FOOTER*/
    
    
    .foot {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(224, 224, 224);
        border-top: 1px solid gray;
        border-right: 0;
        height: 20px;
        width: 100%; 
        padding: 20px 0;
        color: #fff;
        bottom: auto;
    
    }
    .firstFoot a:hover{
        border-bottom: 1px solid black;
    }
    .foot p{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items:center;
        margin-left: 20px;
        color: black;
    }
    .foot a{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-left: 15px;
    }
    .lastFoot{
        display: flex;
    }
    .lastFoot a{
        align-items: center;
    }
    .lastFoot p:hover{
        border-bottom: 1px solid black;
    }
    .lastFoot img{
        border: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
     }
    .navbar{
        justify-content: space-between;
        padding: 20px 0;
        display: flex;
        height: 60px;
        width: 100%;
        background-color: azure;
        border: 0;
        border-bottom: 1px solid gray
    }
    .section{
        display: flex;
        width: 20%;
        align-items: center;
    }
    .menu{
        margin-left: 10px;
    }
    .menu img:hover{
        background-color: lightgrey;
        padding: 3px;
        border-radius: 50%;
    }
    .logo-container {
        display: flex;
        width: 20%;
        align-items: center;
    }
    .logo{
        margin-left: 20px;
        object-fit: cover;
        animation: zoomInOut 4s infinite alternate;
    }
    
    @keyframes zoomInOut {
        10% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.0);
        }
    }
    .user{
        margin-left: 5px;
    }
    .user img:hover{
        background-color: lightgray;
        border-radius: 50%;
        padding: 3px;
    }
    .box-container {
        display: flex;
        align-items: flex-start; 
    }
    .box{  
        display: flex;
        background: rgb(241, 239, 239);
        height: 30px;
        border: 1px solid;
        border-color: black;
        border-radius: 40px;
        padding: 10px;
    }
    ::placeholder{
        color: black;
    }
    
    .box:hover > .place{
        width: 150px;
        padding: 0 6px;
    }
    .box a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .box input{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 16px;
        transition: 0.6s;
        line-height: 30px;
        width: 0;
    }
    .desc{
        padding: 10px;
        margin-right: 5px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
    }
    .desc:hover{
        background-color: rgb(239, 243, 243);
    }
    
    /*Sortiranje*/
    .sort{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }
    .sort ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
    }
    .sort a{
        text-decoration: none;
        list-style-type: none;
        padding: 5px 10px;
        color: grey;
    }
    .sort a:hover::before{
        content: "";
        color: black;
        background-color: lightgray;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 100%;
    } 
    .sort a:hover{
        color: black;
    }
    
    .icon-3 img{
        margin-left: 8px;
    }
    
    .icon-4 img{
        margin-left: 7px;
    }
    /*CONTAINER*/
    
    .container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .container img{
        border-radius: 5%;
        width: 99%;
    }
    .container a{
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: black;
        font-style: bold;
        font-size: 10px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .container .post-1 h4{
        font-size: 20px;
    }
    .container .post-2 h4{
        font-size: 20px;
    }.container .post-3 h4{
        font-size: 20px;
    }.container .post-4 h4{
        font-size: 20px;
    }
    .container .post-1 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-2 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-3 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-4 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-1 h3{
        font-size: 19px;
    }
    .container .post-2 h3{
        font-size: 19px;
    }
    .container .post-3 h3{
        font-size: 19px;
    }
    .container .post-4 h3{
        font-size: 19px;
    }
    
    
    /*FOOTER*/
    
    
    .foot {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(224, 224, 224);
        border-top: 1px solid gray;
        border-right: 0;
        height: 20px;
        width: 100%; 
        padding: 20px 0;
        color: #fff;
        bottom: auto;
    
    }
    .firstFoot a:hover{
        border-bottom: 1px solid black;
    }
    .foot p{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items:center;
        margin-left: 20px;
        color: black;
    }
    .foot a{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-left: 15px;
    }
    .lastFoot{
        display: flex;
    }
    .lastFoot a{
        align-items: center;
    }
    .lastFoot p:hover{
        border-bottom: 1px solid black;
    }
    .lastFoot img{
        border: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main{
        display: flex;
        flex-direction: column;
     }
    .navbar{
        justify-content: space-between;
        padding: 20px 0;
        display: flex;
        height: 60px;
        width: 100%;
        background-color: azure;
        border: 0;
        border-bottom: 1px solid gray
    }
    .section{
        display: flex;
        width: 20%;
        align-items: center;
    }
    .menu{
        margin-left: 10px;
    }
    .menu img:hover{
        background-color: lightgrey;
        padding: 3px;
        border-radius: 50%;
    }
    .logo-container {
        display: flex;
        width: 20%;
        align-items: center;
    }
    .logo{
        margin-left: 20px;
        object-fit: cover;
        animation: zoomInOut 4s infinite alternate;
    }
    
    @keyframes zoomInOut {
        10% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.0);
        }
    }
    .user{
        margin-left: 5px;
    }
    .user img:hover{
        background-color: lightgray;
        border-radius: 50%;
        padding: 3px;
    }
    .box-container {
        display: flex;
        align-items: flex-start; 
    }
    .box{  
        display: flex;
        background: rgb(241, 239, 239);
        height: 30px;
        border: 1px solid;
        border-color: black;
        border-radius: 40px;
        padding: 10px;
    }
    ::placeholder{
        color: black;
    }
    
    .box:hover > .place{
        width: 150px;
        padding: 0 6px;
    }
    .box a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .box input{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 16px;
        transition: 0.6s;
        line-height: 30px;
        width: 0;
    }
    .desc{
        padding: 10px;
        margin-right: 5px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
    }
    .desc:hover{
        background-color: rgb(239, 243, 243);
    }
    
    /*Sortiranje*/
    .sort{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }
    .sort ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
    }
    .sort a{
        text-decoration: none;
        list-style-type: none;
        padding: 5px 10px;
        color: grey;
    }
    .sort a:hover::before{
        content: "";
        color: black;
        background-color: lightgray;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 100%;
    } 
    .sort a:hover{
        color: black;
    }
    
    .icon-3 img{
        margin-left: 8px;
    }
    
    .icon-4 img{
        margin-left: 7px;
    }
    /*CONTAINER*/
    
    .container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .container img{
        border-radius: 5%;
        width: 99%;
    }
    .container a{
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: black;
        font-style: bold;
        font-size: 10px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .container .post-1 h4{
        font-size: 20px;
    }
    .container .post-2 h4{
        font-size: 20px;
    }.container .post-3 h4{
        font-size: 20px;
    }.container .post-4 h4{
        font-size: 20px;
    }
    .container .post-1 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-2 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-3 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-4 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-1 h3{
        font-size: 19px;
    }
    .container .post-2 h3{
        font-size: 19px;
    }
    .container .post-3 h3{
        font-size: 19px;
    }
    .container .post-4 h3{
        font-size: 19px;
    }
    
    
    /*FOOTER*/
    
    
    .foot {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(224, 224, 224);
        border-top: 1px solid gray;
        border-right: 0;
        height: 20px;
        width: 100%; 
        padding: 20px 0;
        color: #fff;
        bottom: auto;
    
    }
    .firstFoot a:hover{
        border-bottom: 1px solid black;
    }
    .foot p{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items:center;
        margin-left: 20px;
        color: black;
    }
    .foot a{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-left: 15px;
    }
    .lastFoot{
        display: flex;
    }
    .lastFoot a{
        align-items: center;
    }
    .lastFoot p:hover{
        border-bottom: 1px solid black;
    }
    .lastFoot img{
        border: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main{
        display: flex;
        flex-direction: column;
     }
    .navbar{
        justify-content: space-between;
        padding: 20px 0;
        display: flex;
        height: 60px;
        width: 100%;
        background-color: azure;
        border: 0;
        border-bottom: 1px solid gray
    }
    .section{
        display: flex;
        width: 20%;
        align-items: center;
    }
    .menu{
        margin-left: 10px;
    }
    .menu img:hover{
        background-color: lightgrey;
        padding: 3px;
        border-radius: 50%;
    }
    .logo-container {
        display: flex;
        width: 20%;
        align-items: center;
    }
    .logo{
        margin-left: 20px;
        object-fit: cover;
        animation: zoomInOut 4s infinite alternate;
    }
    
    @keyframes zoomInOut {
        10% {
            transform: scale(0.9);
        }
        80% {
            transform: scale(1.0);
        }
    }
    .user{
        margin-left: 5px;
    }
    .user img:hover{
        background-color: lightgray;
        border-radius: 50%;
        padding: 3px;
    }
    .box-container {
        display: flex;
        align-items: flex-start; 
    }
    .box{  
        display: flex;
        background: rgb(241, 239, 239);
        height: 30px;
        border: 1px solid;
        border-color: black;
        border-radius: 40px;
        padding: 10px;
    }
    ::placeholder{
        color: black;
    }
    
    .box:hover > .place{
        width: 150px;
        padding: 0 6px;
    }
    .box a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .box input{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 16px;
        transition: 0.6s;
        line-height: 30px;
        width: 0;
    }
    .desc{
        padding: 10px;
        margin-right: 5px;
        font-size: 18px;
        border: none;
        border-radius: 30px;
    }
    .desc:hover{
        background-color: rgb(239, 243, 243);
    }
    
    /*Sortiranje*/
    .sort{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5px;
    }
    .sort ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
    }
    .sort a{
        text-decoration: none;
        list-style-type: none;
        padding: 5px 10px;
        color: grey;
    }
    .sort a:hover::before{
        content: "";
        color: black;
        background-color: lightgray;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 100%;
    } 
    .sort a:hover{
        color: black;
    }
    
    .icon-3 img{
        margin-left: 8px;
    }
    
    .icon-4 img{
        margin-left: 7px;
    }
    /*CONTAINER*/
    
    .container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .container img{
        border-radius: 5%;
        width: 99%;
    }
    .container a{
        padding: 0;
        margin: 0;
        text-decoration: none;
        color: black;
        font-style: bold;
        font-size: 10px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .container .post-1 h4{
        font-size: 20px;
    }
    .container .post-2 h4{
        font-size: 20px;
    }.container .post-3 h4{
        font-size: 20px;
    }.container .post-4 h4{
        font-size: 20px;
    }
    .container .post-1 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-2 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-3 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-4 p{
        font-size: 15px;
        color: rgb(104, 104, 104);
    }
    .container .post-1 h3{
        font-size: 19px;
    }
    .container .post-2 h3{
        font-size: 19px;
    }
    .container .post-3 h3{
        font-size: 19px;
    }
    .container .post-4 h3{
        font-size: 19px;
    }
    
    
    /*FOOTER*/
    
    
    .foot {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(224, 224, 224);
        border-top: 1px solid gray;
        border-right: 0;
        height: 20px;
        width: 100%; 
        padding: 20px 0;
        color: #fff;
        bottom: auto;
    
    }
    .firstFoot a:hover{
        border-bottom: 1px solid black;
    }
    .foot p{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        align-items:center;
        margin-left: 20px;
        color: black;
    }
    .foot a{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        text-decoration: none;
        color:black;
        margin-left: 15px;
    }
    .lastFoot{
        display: flex;
    }
    .lastFoot a{
        align-items: center;
    }
    .lastFoot p:hover{
        border-bottom: 1px solid black;
    }
    .lastFoot img{
        border: none;
    }
}